/* ===== Reset some default styles ===== */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
/* ===== Reset some default styles - END ===== */



/* ===== General Setup ===== */
body {
    font-family: "Figtree", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: clamp(16px,2vw,18px);
    font-weight: 300;
    line-height: 28px;
}

h1 {
    font-weight: 900;
    font-size: clamp(27px,2vw,66px);
    line-height: 76px;
    font-family: 'Noto Serif Display';
}

h1.alt {
    font-family: "Figtree", sans-serif;
    font-weight: 300;
}

h2 {
    font-weight: 600;
    font-size: clamp(30px,2vw,46px);
    line-height: 76px;
}

h2.alt {
    font-weight: 800;
    font-size: clamp(38px,2vw,58px);
    font-family: 'Noto Serif Display';
}
/* ===== General Setup - END ===== */



/* ===== Header ===== */
header {
    background: url('your-background-image.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
}

header h1 {

}

/* Navigation Bar */
nav {

}

nav a {

}
/* Navigation Bar - END */

/* ===== Header - END ===== */



/* ===== Main Content ===== */
.bf-main {

}
/* ===== Main Content - END ===== */



/* ===== Footer ===== */
footer {

}
/* ===== Footer - END ===== */